<html>
<head>
    <meta charset="UTF-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <link rel="icon" href="images/ico/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="images/ico/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div id='vue-app'>
    </div>
    <div id='vue-modal'>
    </div>
</body>
</html>