<form method="post" action="/post" class="well post-form form-inline" style="text-align:center;">
    <div class="container">
        <div class="form-group">
            <input type="text" class="form-control" name="post">
            <button type="submit" class="btn btn-success">
                <i class="icon-comment icon-white">
                </i> 
                发言
            </button>
        </div>
    </div>
</form>