<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="MyModule" type="MyApp.MyModules"/>
    </modules>
    <handlers>
      <add name="UploadHandler" path="*.myh" type="UploadHandler" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
</configuration>